@charset "UTF-8";
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-500.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto/roboto-v20-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link,
.link__footer {
  color: inherit;
  text-decoration: none;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
  transition-duration: 250ms;
}

.link:hover,
.link__footer:hover {
  color: #2196f3;
}

.link:focus,
.link__footer:focus {
  color: #2196f3;
}

.link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.link__footer {
  padding-top: 0;
  padding-bottom: 0;
}

.section__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  color: #212121;
  margin-top: 0;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.167;
  }
}

.details__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .details__title {
    text-align: center;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.progect__container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .progect__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .progect__container {
    width: 1200px;
    margin-top: 94px;
    margin-bottom: 94px;
  }
}

.header__container {
  display: none;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .container__footer {
    align-items: baseline;
  }
}

.page__header {
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.page__header .logo {
  margin-right: 93px;
}

.logo {
  display: inline-flex;
  width: 154px;
  height: 28px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .logo {
    width: 145px;
    height: 31px;
    font-size: 26px;
    line-height: 1.192;
  }
}

.header__container .logo {
  margin-top: 24px;
  margin-bottom: 25px;
}

.logo__studio {
  color: #000000;
}

.logofooter__studio {
  display: inline-block;
  color: #ffffff;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.site__nav {
  display: inline-flex;
  align-items: center;
  width: 294px;
}

.site__nav .item {
  display: inline-block;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.site__nav .item:not(:last-child) {
  margin-right: 50px;
}

.site__nav .link {
  position: relative;
  display: block;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.site__nav .link:hover:after,
.current:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  margin: 0;
  opacity: 1;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.auth__nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  align-items: center;
}

.auth__nav .item:not(:last-child) {
  margin-right: 50px;
}

.email__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.tell__icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.link__mail {
  display: flex;
  align-items: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transition-duration: 250ms;
}

.link__mail:focus .email__icon,
.link__mail:hover .email__icon {
  fill: #2196f3;
}

.link__tell {
  display: flex;
  align-items: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transition-duration: 250ms;
}

.link__tell:focus .tell__icon,
.link__tell:hover .tell__icon {
  fill: #2196f3;
}

.btn,
.btn__email,
.btn__accept,
.btn__filtr {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color;
  transition-duration: 250ms;
  cursor: pointer;
}

.btn:hover, .btn:focus,
.btn__email:hover,
.btn__email:focus,
.btn__accept:hover,
.btn__accept:focus,
.btn__filtr:hover,
.btn__filtr:focus {
  color: #2196f3;
  background-color: #ffffff;
}

.btn__email {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  margin-left: 12px;
}

.btn__icon {
  margin-left: 10px;
  fill: #ffffff;
  transition-property: fill;
}

.btn__email:hover .btn__icon,
.btn__email:focus .btn__icon {
  fill: #2196f3;
}

.btn__accept {
  margin-left: 124px;
  margin-right: 124px;
  margin-top: 30px;
}

.btn__close {
  position: absolute;
  display: flex;
  top: 12px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill;
  transition-duration: 250ms;
}

.btn__close-icon {
  display: flex;
  width: 11px;
  height: 11px;
}

.btn__close:hover, .btn__close:focus {
  fill: #2196f3;
}

.btn__filtr {
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  padding: 6px 22px;
  min-width: 73px;
  height: 38px;
  border: none;
  transition-property: color, background-color, box-shadow;
}

.btn__filtr:hover, .btn__filtr:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero {
  height: 600px;
  text-align: center;
  background-color: #2f303a;
}

.hero__fon {
  display: inline-flex;
  width: 1600px;
  height: 600px;
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/herofoto.jpg") no-repeat center;
}

.hero__content {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero__title {
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 30px;
}

.special {
  padding-top: 86px;
  padding-bottom: 94px;
}

.features {
  /*justify-content: space-between;
  height: 251px; */
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
}

@media screen and (min-width: 768px) {
  .features {
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    margin-left: -30px;
  }
}

.features__box {
  justify-content: center;
  margin-top: 30px;
  min-width: 450px;
  /* width: 270px; */
}

@media screen and (min-width: 768px) {
  .features__box {
    width: calc(100% / 2 - 30px);
    min-width: 354px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__box {
    width: calc(100% / 4 - 30px);
    min-width: 270px;
    margin-left: 30px;
  }
}

.features__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  height: 120px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__p {
  margin-top: 0;
  margin-bottom: 0;
}

.exerciser {
  display: none;
  padding-bottom: 94px;
}

.exerciser__list {
  display: flex;
  justify-content: space-between;
  height: 294px;
}

@media screen and (min-width: 1200px) {
  .exerciser {
    display: flex;
  }
}

.thumb {
  position: relative;
}

.thumb .label {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 27px 82px;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team-bg {
  background-color: #f5f4fa;
  height: 2791px;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .team-bg {
    height: 1285px;
  }
}

@media screen and (min-width: 1200px) {
  .team-bg {
    /* width: 1600px; */
    height: 708px;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: auto px;
    padding-right: auto px;
  }
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
}

@media screen and (min-width: 768px) {
  .team__list {
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    margin-left: -30px;
  }
}

.team__item {
  margin-top: 30px;
  padding-bottom: 36px;
  text-align: center;
  background-color: #ffffff;
  min-width: 450px;
  height: 622px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc(100% / 2 - 30px);
    min-width: 354px;
    height: 536px;
    margin-left: 30px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc(100% / 4 - 30px);
    min-width: 270px;
    max-height: 428px;
    padding-bottom: 30px;
  }
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 0;
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .team__position {
    margin-bottom: 16px;
  }
}

.social__icons {
  display: flex;
  justify-content: center;
  min-width: 206px;
}

.social__icons-item:not(:last-child) {
  margin-right: 10px;
}

.social__icons-link {
  display: flex;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  transition-duration: 250ms;
}

.social__icons-link:hover, .social__icons-link:focus {
  background-color: #2196f3;
}

.social__icon-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transition-duration: 250ms;
}

.social__icons-link:hover .social__icon-svg,
.social__icons-link:focus .social__icon-svg {
  fill: #ffffff;
}

.footer__social {
  width: 206px;
  height: 80px;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .footer__social {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer__social {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social {
    margin-left: 70px;
    text-align: start;
    margin-bottom: 0;
  }
}

.footer__social .details__title {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}

.social__icons-linkfooter {
  display: flex;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  transition-duration: 250ms;
}

.social__icons-linkfooter:hover, .social__icons-linkfooter:focus {
  background-color: #2196f3;
}

.social__icon-footer {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.customers__section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customer {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.customer__link {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
  height: 90px;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
  transition-duration: 250ms;
}

@media screen and (min-width: 480px) {
  .customer__link {
    width: calc(100% / 2 - 30px);
    min-width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .customer__link {
    width: calc(100% / 3 - 30px);
    min-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .customer__link {
    min-width: 170px;
  }
}

.customer__link:hover, .customer__link:focus {
  border-color: #2196f3;
  outline: none;
}

.customer__icon {
  fill: #afb1b8;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transition-duration: 250ms;
}

.customer__link:hover .customer__icon,
.customer__link:focus .customer__icon {
  fill: #2196f3;
}

.dark__bg {
  height: 603px;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  /* padding-left: auto;
  padding-right: auto; */
}

@media screen and (min-width: 768px) {
  .dark__bg {
    height: 463px;
  }
}

@media screen and (min-width: 1200px) {
  .dark__bg {
    height: 252px;
  }
}

.contact__footer {
  width: 232px;
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .contact__footer {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contact__footer {
    width: 231px;
    text-align: start;
    margin-bottom: 0;
  }
}

.addres {
  width: 232px;
  height: 81px;
  font-style: normal;
}

.addres-item:not(:last-child) {
  margin-bottom: 9px;
}

.addres-style {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
}

.addres-contact {
  color: #ffffff 0.6;
}

.footer__form {
  width: 450px;
  height: 156px;
}

@media screen and (max-width: 1199px) {
  .footer__form {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__form {
    width: 570px;
    height: 86px;
    margin-left: 93px;
  }
}

.footer__form .details__title {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}

.form__footer {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .form__footer {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.form__footer input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .form__footer input {
    width: 358px;
    margin-bottom: 0;
  }
}

/* форма модального окна */
.form {
  width: 448px;
}

.textarea {
  resize: none;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
}

.form__field label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--main-text-cl);
  margin-bottom: 4px;
}

.form__field input {
  height: 40px;
  padding-left: 42px;
}

.form__field input,
.form__field textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color;
  transition-duration: 250ms;
}

.form__input:focus {
  border-color: #2196f3;
  outline: none;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__icon {
  width: 18px;
  height: 18px;
  top: 51%;
  left: 12px;
  position: absolute;
}

.form__input:focus + .form__icon {
  fill: #2196f3;
}

.comment {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.check__label {
  position: relative;
  display: flex;
  width: 423px;
  justify-content: center;
  align-items: center;
  margin-left: 13px;
  margin-right: 10px;
  margin-top: 20px;
  padding-left: 23px;
}

.check__label:focus-within {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.check__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.check__input:checked + .check__icon {
  background-color: #2196f3;
  background-image: url(../images/icons/iconcheck1.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.check__icon {
  display: block;
  width: 16px;
  height: 15px;
  position: absolute;
  top: 15%;
  left: 0px;
  border-radius: 2px;
  border: 2px solid #212121;
}

.linkaccept {
  margin-left: 3px;
  color: #2196f3;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7124px;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1024px;
  background-color: rgba(0, 0, 0, 0.2);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: scale 1;
  transition-duration: 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.form__title {
  display: inline-block;
  font-family: inherit;
  font-style: 400;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 12px;
}
/*# sourceMappingURL=main.css.map */