.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.progect__container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 94px;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.container__footer {
  display: inline-flex;
  align-items: baseline;
}
