.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: $mobile;
  }

  @media screen and (min-width: 768px) {
    width: $tablet;
  }

  @media screen and (min-width: 1200px) {
    width: $desktop;
  }
}

.progect__container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: $tablet;
  }

  @media screen and (min-width: 1200px) {
    width: $desktop;
    margin-top: 94px;
    margin-bottom: 94px;
  }
}

.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container__footer {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    align-items: baseline;
  }
}
