html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: $main-text-cl;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link,
.link__footer {
  color: inherit;
  text-decoration: none;
  transition-timing-function: $timing-function;
  transition-property: color;
  transition-duration: $time;

  &:hover {
    color: $accent-cl;
  }
  &:focus {
    color: $accent-cl;
  }
}
.link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.link__footer {
  padding-top: 0;
  padding-bottom: 0;
}

.section__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  color: $title-cl;
  margin-top: 0;
  margin-bottom: 30px;
  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.167;
  }
}

.details__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $title-cl;
  margin-top: 30px;
  margin-bottom: 10px;
}
.details__title {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
