.hero {
  text-align: center;
  background-color: $hero-cl;
  &__fon {
    display: inline-flex;
    width: 480px;
    height: 400px;
    background: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero/mobile/hero-m.jpg") no-repeat center;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/mobile/hero-m@2х.jpg") no-repeat center;
    }
    @media screen and (max-width: $mobile) {
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      width: 768px;
      height: 400px;
      background: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/tablet/hero-t.jpg") no-repeat center;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../images/hero/tablet/hero-t@2x.jpg") no-repeat center;
      }
    }

    @media screen and (min-width: 1200px) {
      min-width: 1200px;
      max-width: 1600px;
      height: 600px;
      background: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero/desktop/hero-d.jpg") no-repeat center;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../images/hero/desktop/hero-d@2x.jpg") no-repeat center;
      }
    }
  }

  &__content {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;

    @media screen and (min-width: 1200px) {
      max-width: 696px;
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }

  &__title {
    font-family: inherit;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-cl;
    margin-top: 0;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
